<link rel="stylesheet" href="/css/addNewAddress.css" />

<div
  class="container my-5 col-lg-6 col-md-10 col-sm-12"
  style="min-height: 50vh"
>
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/account">My Account</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Manage Addresses
      </li>
    </ol>
  </nav>

  <!-- Heading -->
  <div class="my-4">
    <h2 class="font-weight-bold">Manage Addresses</h2>
  </div>

  <!-- Address Grid -->
  <div
    class="container d-flex flex-wrap justify-content-start p-0 column-gap-5"
  >
    <% if (addresses.length > 0) { %> <% addresses.forEach((address) => { %>
    <div class="col-md-5 col-12 mb-4">
      <div class="address-card <%= address.isDefault ? 'default' : '' %>" data-id="<%= address._id %>">
        <div class="icons d-flex align-items-center gap-3">
          <i class="fa-solid fa-square-pen edit-icon"></i>
          <i class="fa-solid fa-square-minus delete-icon"></i>
        </div>
        <h5 class="font-weight-bold">
          <% if (address.isDefault) { %>
            <%= address.customName || address.addressType.charAt(0).toUpperCase() + address.addressType.slice(1) %> (Default)
          <% } else { %>
            <%= address.customName || address.addressType.charAt(0).toUpperCase() + address.addressType.slice(1) %>
          <% } %>
        </h5>
        <div class="details d-flex flex-column align-items-start gap-1 mt-2">
          <span><%= address.location %></span>
          <span
            ><%= address.city %>, <%= address.state %>, <%= address.zip %></span
          >
          <span><%= address.country %></span>
        </div>
      </div>
    </div>
    <% }); %> <% } else { %>
    <h6 class="px-5">No address found.</h6>
    <% } %>

    <!-- Add New Address Button -->
    <div class="col-md-5 col-12 mb-4">
      <div
        class="add-address-card"
        data-bs-toggle="modal"
        data-bs-target="#addAddressModal"
      >
        <h4 class="font-weight-bold text-primary">+ Add New Address</h4>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Adding New Address -->
<div
  class="modal fade"
  id="addAddressModal"
  tabindex="-1"
  aria-labelledby="addAddressModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/account/add-addresses" method="POST" id="addressForm">
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              class="form-control"
              id="location"
              placeholder="1234 Main St"
              name="location"
            />
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              placeholder="City"
              name="city"
            />
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input
              type="text"
              class="form-control"
              id="state"
              placeholder="State"
              name="state"
            />
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              class="form-control"
              id="country"
              placeholder="Country"
              name="country"
            />
          </div>
          <div class="mb-3">
            <label for="zipCode" class="form-label">ZIP Code</label>
            <input
              type="text"
              class="form-control"
              id="zipCode"
              placeholder="ZIP Code"
              name="zip"
            />
          </div>
          <fieldset class="mb-3">
            <legend class="col-form-label">Address Type</legend>
            <div class="d-flex gap-4">
              <div class="form-check">
                <input
                  class="form-check-input custom-radio"
                  type="radio"
                  name="addressType"
                  id="home"
                  value="home"
                />
                <label class="form-check-label" for="home"> Home </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input custom-radio"
                  type="radio"
                  name="addressType"
                  id="work"
                  value="work"
                />
                <label class="form-check-label" for="work"> Work </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input custom-radio"
                  type="radio"
                  name="addressType"
                  id="custom"
                  value="custom"
                />
                <label class="form-check-label" for="custom"> Custom </label>
              </div>
            </div>
            <div class="mb-3" id="customNameContainer" style="display: none">
              <label for="customName" class="form-label">Custom Name</label>
              <input
                type="text"
                class="form-control"
                id="customName"
                name="customName"
                placeholder="Custom Address Name"
              />
            </div>
          </fieldset>
          <div class="mb-3 form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="defaultAddress"
            />
            <label class="form-check-label" for="defaultAddress">
              Make this the default address?
            </label>
          </div>
          <input type="hidden" name="isDefault" value="false" />
          <div>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" id="saveAddressBtn">
              Save Address
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/addNewAddress.js"></script>
<script src="/js/defaultAddress.js"></script>